<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <title>Landing</title>
</head>

<body>
    <div class="space-header">
        <header>
            <img class="logo" src="../img/images/logo2.png">
            <nav class="main-nav">
                <ul>
                    <li><a href="#" >Home</a></li>
                    <li><a href="#abaut">Quienes somos</a></li>
                    <li><a href="#services">Servicios</a></li>
                    <li><a href="#features">Caracteristicas</a></li>
                    <li><a href="#price">Precios</a></li>
                    <li><a href="#contact">Contactate</a></li>
                    <li><a href="#login">LogIn</a></li>
                </ul>
            </nav>
        </header>
        <div class="hero">
            <img class="tablet" src="../img/images/tablet.png">
            <div class="hero-info">
                <h2>Lorem ipsum dolor, sit</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem consectetur delectus tempora
                    ullam odio aspernatur vel animi quos officiis enim?</p>
                <div class="hero-buttons">
                    <li class="buy-button"><a href="#">Comprar Ahora</a></li>
                    <span class="or-item">or</span>
                    <li class="read-more-button"><a href="#">Leer mas</a></li>
                </div>
            </div>
        </div>

    </div>
    <div class="abaut-us" id="abaut">
        <div class="abaut-content">
            <h2>Sobre Nosotros</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil ullam incidunt, fugiat, fugit, autem
                exercitationem id cum maxime voluptatum perspiciatis in explicabo officiis debitis? Illo rerum ea
                suscipit dolore corrupti.</p>
        </div>
        <div>
            <img src="../img/images/shape.png">
            <img class="shape-two" src="../img/images/shape.png">
        </div>
    </div>
    <div class="service" id="services">
        <div class="service-content">
            <div class="item-box">
                <img src="../img/images/base.png">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, magni.</p>
            </div>
            <div class="item-box">
                <img src="../img/images/love.png">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates amet earum ut sequi magni
                    doloribus.</p>
            </div>
            <div class="item-box">
                <img src="../img/images/responsive.png">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint numquam magni nisi.</p>
            </div>
        </div>
    </div>
    <div class="slider-content">
        <div class="slider">
            <h2>Lorem ipsum dolor sit amet consectetur.</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat dolor nobis obcaecati, modi doloremque
                rem.
            </p>
            <img src="../img/images/MacBook.png">
        </div>
        <div class="slider">
            <h2>Lorem ipsum dolor sit amet consectetur.</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat dolor nobis obcaecati, modi doloremque
                rem.
            </p>
            <img src="../img/images/MacBook.png">
        </div>
        <div class="slider">
            <h2>Lorem ipsum dolor sit amet consectetur.</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat dolor nobis obcaecati, modi doloremque
                rem.
            </p>
            <img src="../img/images/MacBook.png">
        </div>
        <div class="slider-buttons">
            <a href="" class="forware">&#10216;</a>
            <a href="" class="back">&#10217;</a>
        </div>
    </div>
    <div class="people-say">
        <div class="say-box">
            <h2>Que Dice La Gente</h2>
            <div class="say-items">
                <div class="say-item">
                    <div class="say-card">
                        <img src="../img/images/Layer3.png">
                        <div class="say-text">
                            <h3>Lorem, ipsum dolor.</h3>
                            <p>Lorem ipsum dolor sit amet consectetur.</p>
                        </div>
                    </div>
                    <div class="say-card">
                        <img src="../img/images/Layer3.png">
                        <div class="say-text">
                            <h3>Lorem, ipsum dolor.</h3>
                            <p>Lorem ipsum dolor sit amet consectetur.</p>
                        </div>

                    </div>
                </div>
                <div class="say-item">
                    <div class="say-card">
                        <img src="../img/images/Layer3.png">
                        <div class="say-text">
                            <h3>Lorem, ipsum dolor.</h3>
                            <p>Lorem ipsum dolor sit amet consectetur.</p>
                        </div>
                    </div>
                    <div class="say-card">
                        <img src="../img/images/Layer3.png">
                        <div class="say-text">
                            <h3>Lorem, ipsum dolor.</h3>
                            <p>Lorem ipsum dolor sit amet consectetur.</p>
                        </div>

                    </div>
                </div>
                <div class="say-item">
                    <div class="say-card">
                        <img src="../img/images/Layer3.png">
                        <div class="say-text">
                            <h3>Lorem, ipsum dolor.</h3>
                            <p>Lorem ipsum dolor sit amet consectetur.</p>
                        </div>
                    </div>
                    <div class="say-card">
                        <img src="../img/images/Layer3.png">
                        <div class="say-text">
                            <h3>Lorem, ipsum dolor.</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <footer>
        <div class="footer-container">
            <div class="contact">
                <div class="main-paragraph">
                    <h2>Lorem, ipsum dolor.</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique aliquam, cumque inventore
                        alias, a adipisci vero voluptates tempore in provident cum, facere id corporis commodi sint
                        voluptatem architecto doloribus! Soluta.</p>
                </div>
                <div class="contact-us">
                    <div class="contact-item">
                        <img src="../img/images/mappin.png">
                        <p>Lorem ipsum dolor sit.</p>
                    </div>
                    <div class="contact-item">
                        <img src="../img/images/callup.png">
                        <p>0800-7738-21 / 0977-333-222-111</p>
                    </div>
                    <div class="contact-item">
                        <img src="../img/images/mail.png">
                        <p>parturient@montes.com</p>
                    </div>
                </div>
            </div>
            <form method="POST" class="client-form">
                <div class="field-feedback">
                    <div>
                        <% if (locals.errors && errors.lead_name) { %>
                            <%=errors.lead_name.msg%> 
                        <%  }  %>
                    </div>
                    <div>
                        <% if (locals.errors && errors.email) { %>
                            <%=errors.email.msg%> 
                        <%  }  %>
                    </div>
                    <div>
                        <% if (locals.errors && errors.lead_subject) { %>
                            <%=errors.lead_subject.msg%> 
                        <%  }  %>  
                    </div>
                    <div>
                        <% if (locals.errors && errors.messenge) { %>
                            <%=errors.messenge.msg%> 
                        <%  }  %>  
                    </div>
                </div>
                <div class="form-row">
                    <input type="text" placeholder="Tu nombre" name="lead_name" id="lead_name">
                    <input type="text" placeholder="Tu email" name="email" id="email">
                </div>
                <div class="form-row">
                    <select name="lead_subject" id="lead_subject" >
                        <option value="">Subject</option>
                        <option value="buy">Comprar</option>
                        <option value="Cancel">Cancelar</option>
                        <option value="Problem">Problem</option>
                        <option value="moreInfo">More Info</option>
                    </select>
                </div>
                <div class="form-row">
                    <textarea name="messenge" id="messenge" cols="30" rows="10" placeholder="Tu mensaje"></textarea>
                </div>
                <div class="form-buttons">
                    <li class="buy-button"><button class="form-button reset" type="reset">Recetear</button></li>
                    <li class="read-more-button"><button class="form-button submit" type="submit">Enviar</button></li>
                </div>
            </form>
        </div>
        
    </footer>
    <img class="copyright" src="img/images/copyright.png">
    
    <script src="script/validation.js"></script>

</body>

</html>