<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Comentario</title>
</head>
<body>
    <div class="success">
        <img src="../img/images/homero.png">
        <h1>Su comentario a sido enviado con exito, se le a enviado un email a su correo registrado.</h1>
        <p>MUCHAS GRACIAS</p>
    </div>
    <a class="back-button" href="/">Volver</a>
</body>
</html>